@using Tech.Market.Web.Models.HomeModels
@model HomeViewModel

@{
	ViewData["Title"] = "Contas";
}

<div class="text-center">
	<h1 class="display-4">Extrato</h1>
	<ul class="list-group">
		
	</ul>

	<div class="list-group">
		@foreach (var item in Model.Contas)
		{
			<a asp-area=""
				asp-action="Index" 
				asp-controller="Transacoes" 
				asp-route-id="@item.Id" 
				class="list-group-item list-group-item-action text-start" 
				aria-current="true">
				@item.Nome
			</a>
		}
	</div>
</div>
