@using Tech.Market.Web.Models.HomeModels
@model HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Extrato</h1>
	<ul>
		@foreach (var item in Model.Transacoes)
		{
			<li>@item.Conta.Nome</li>
		}
	</ul>
</div>
